Source: castfs
Section: unknown
Priority: extra
Maintainer: Elisamuel Resto <ryuji@sourcemage.org>
Standards-Version: 3.6.2

Package: castfs
Architecture: i386 x86_64
Depends: libfuse2
Description: Fuse file system used for staging source installs
 Fuse file system used for staging source installs to separate locations
 transparently to the install of the source.
